 /***** FONT ******/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


/* BODY */
.oscuro {
    background-color: black;
    color: white;
}


/***** NAV ******/
 .estiloNav {
    border-bottom: 1px solid black;
    background-color: orange;
}

.tituloWeb { 
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 5px;
}


.logoResto {
    width: 7rem;
    height: 4rem;
    border-radius: 4px;
    
}

.buttonNav {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: black;
}

/* CARDS */

.cardProductos { 
    margin: 3px;
    color: black;
}

.buttonCard {
    border: 1px solid black
}

.botonSum {
    
}

/* TOTAL COMPRA */
.compra {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

/* TITULO Y DIV CARRITO */

.tituloCarrito {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}


.divTitulo {
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: orange;
}

/* FORMULARIO FINALIZAR */
.formFianlizar {
    width: 30rem;
    border: 2px solid orange;
    border-radius: 4px;
    margin: 10px;
    padding: 4px;
}